/*App Css
Le Vy Cao 104201234
Last edited 14/09/2023*/
:root {
  --primaryBackgroundColor: #183656;
  --textColor: #FFFFFF;
  --hoverColor: #ff3300;

  /* Add more color variables as needed */
}

body {
  padding: 0;
  margin: 0;
}