/*FAQ component css
Le Vy Cao 104201234
Last edited 15/09/2023*/
.faq {
    margin-top: 6em; /* Adjust the top margin */
    padding: 1em;
    overflow-y: auto; /* Use 'auto' for vertical scrolling only */
    background: #f9f9f9; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
  
  .faq h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-item {
    margin-bottom: 20px;
    background: #fff; /* Individual item background color */
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .faq-item.open {
    background: #f9f9f9; /* Background color when item is open */
    transform: translateY(-2px);
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
  }
  
  .faq-answer {
    margin-top: 16px;
    font-size: 16px;
  }
  