/* CSS for form elements */
.layout {
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 2em;
  transition: transform 0.2s ease;
  background-color: #f5f5f5;
  color: var(--primaryBackgroundColor);
}

h2 {
  margin-bottom: 0.5em;
}
p{
  margin-bottom: 1em;
  font-style: italic;
  }
.signInImage {
  flex: 0.5;
  height: 100%;
}

.signInImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  padding: 1em;
  flex: 0.5;
}


.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Put labels on the left */
  align-items: center;
  margin: 1em;
}

.field label {
  font-weight: bold;
  margin-right: 1em; /* Add space between label and input */
}

.field input {
/* Expand input to fill available space */
  padding: 1em;
  min-width: 400px;
  width: 80%;
  min-width: 500px;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}
.field input:focus {
  outline: none;
}

  /* Style the buttons (adjust styles as needed) */
 .container button {
    background-color: #ff6600; /* Customize the button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 0.625em 1.25em; /* Adjust padding using em units */
    font-size: 1em; /* Adjust the font size using em units */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    margin-top: 1em;
    margin-bottom: 3em; /* Adjust margin using em units */
  }
  
.container button:hover {
    background-color: #ff3300; /* Change the background color on hover */
  }
  .link {
    color: #922a6f; /* Link text color */
    text-decoration: none; /* Remove the default underline */
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s; /* Add a smooth color transition on hover */
  }
  
  .link:hover {
    color: #ff3300; /* Change the color on hover */
  }
  .errmsg{
    color: red;
  }
  .offscreen{
    display: none;
  }



  .form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    margin: 1.5em;
  }
  .form-group select,   .form-group input {
    height: 50px;
    padding: 5px; 
    box-sizing: border-box; /* Ensure padding is included in the element's total width/height */
}
