/*CSS for services page
Justin Li 104138316
Last edited 21/09/2023*/
  .top {
    text-align: center;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 5%;
    display:flex;
    align-items: center;
    line-height: 1.6em;
    
  }
  .top .servicesimage{
    width:50%;
    padding: 1em;
  }
  .top .servicestext{
    width:50%;
    padding:1em;
  }
  
  .header-text {
    margin-top: 20px;
    text-align: center;
  }
  
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 2em;
    background-color:rgb(230, 228, 228);
    color: var(--primaryBackgroundColor);
  }
  
  .topRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
  }
  
  .bottomRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 3;
  }
  
  .top,
  .bottom {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  #servicesPic {
    box-sizing: border-box;
    border-radius: 8px;
    width:100%;
    height:100%;

  }

  
  .list {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 20em;
    background-color: #f5f5f5;
    border-radius: 8px;
    line-height: 1.6em;
  }
  
  .list-item {
    margin-bottom: 10px; 
  }
  
  